{{input
    type="text"
    id="clockpickerInput"
    class="form-control"
    placeholder=placeholder
    value=valueholder
    disabled=disableflag}}

<span class="input-group-btn">
    <button
        type="button"
        {{action "clear"}}
        class="btn btn-default"
        disabled={{disableflag}}>
            Clear
    </button>
</span>
